# Line Endings
* text=auto
*.php text eol=lf
*.js text eol=lf
*.css text eol=lf
*.txt text eol=lf
*.md text eol=lf

# Exclude dev files
node_modules/ export-ignore
vendor/ export-ignore
composer.lock export-ignore
composer.json export-ignore
package-lock.json export-ignore
package.json export-ignore
.gitignore export-ignore
.gitattributes export-ignore
.github/ export-ignore
webpack.config.js export-ignore
.eslintrc export-ignore
.prettierrc export-ignore
README.md export-ignore
resources/ export-ignore

# Binary files
*.png binary
*.jpg binary
*.woff2 binary

# WordPress.org SVN export rules
/tests/ export-ignore
/docs/ export-ignore